<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h3 class="title is-3 has-text-white has-text-weight-bold is-family-code">$> {{ .Site.Title }} <blink>█</blink></h3>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            {{ range .Site.Menus.main }}
              <a class="navbar-item is-size-5" href="{{ .URL }}">
                {{ .Name }}
              </a>
            {{ end }}
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary is-inverted" href="https://github.com/beerlonerds/beerlonerds.github.io">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <strong>GitHub</strong>
                  </a>
                </div>
              </div>
          </div>
      </div>
</nav>